* {
  box-sizing: border-box;
}

.form-row {
  margin: 15px;
}

.align-left {
  text-align: left;
}

.compose-note-container {
  padding: 1rem;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  border-radius: 15px;
  margin: 1rem 8rem;
}

label {
  float: left;
  margin: 8px 0;
  padding: 0 10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=button], input[type=submit] {
  background-color: #ff0055;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 70%;
}

input[type=button], input[type=submit]:hover {
  background-color: #f50e50;
}

input[type=submit]:disabled {
  background-color: #E0E0E0;
}


.back-button {
  position: relative;
  float: right;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 50px;
  margin: 10px;
  margin-right: 35px;
  width: 2rem;
}

/* radio buttons */
.color-button {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.color-button li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.color-button label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.color-button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.color-button input[type="radio"]:checked+label {
  background: #ffff00;
}

.color-button label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.color-button label:hover {
  background: #DDD;
}

.red-star{
  color:#ff0000;
}

@media screen and (max-width: 600px) {
  .compose-note-container {
    width: 100%;
    margin: 0 4px;
  }
}
