<div class="note-container col-3" [ngStyle]="{'background-color': note.color ? note.color : '#ffff88'}" (click)="showDetails()">
  <fa-icon [icon]="faTrashAlt" class="note-button" (click)="deleteNote()"></fa-icon>
  <fa-icon [icon]="faEdit" class="note-button" (click)="editNote()"></fa-icon>
  <p class="category">{{ note.category }}</p>
  <h4>{{ note.title }}</h4>
  <p>{{(note.body.length>100)? (note.body | slice:0:100)+'...':(note.body)}}</p>
  <p class="modified-date">{{note.modifiedDate | date: "h:mm on MMMM d, y"}}</p>
</div>

<app-note-modal *ngIf="showNoteDetails" [backgroundColor]="note.color" (close)="closeDetails()">
  <p>{{ note.category }}</p>
  <h4>{{ note.title }}</h4>
  <p>{{ note.body }}</p>
  <p class="modified-date">{{note.modifiedDate | date: "h:mm on MMMM d, y"}}</p>
</app-note-modal>
