.note-container {
  background-color: #ffff88;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  height: 265px;
  margin: 20px 35px;
  float: left;
  position: relative;
  cursor: pointer;
}

.note-button {
  position: relative;
  float: right;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.modified-date {
  font-size: 12px;
  font-style: bold;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 10px;
}
