.note-container{
  background-color: #ffff88;
  text-align: left;
  border-radius: 7px;
 box-shadow: 0 2px 5px #ccc;
 padding: 10px;
 width: 240px;
 margin: 16px;
 float: left;
}

.note-button {
  position: relative;
  float: right;
  border: none;
  /* width: 36px;
  height: 36px; */
  cursor: pointer;
  outline: none;
  margin: 10px;
}
