<div class="row">
  <div class="col-12">
    <div class="input-group filter">
      <span class="input-group-addon">
        <fa-icon [icon]="faFilter"></fa-icon> Category
      </span>
      <select id="category" name="category" [(ngModel)]="selectedCategory" class="form-control">
        <!-- <option disabled>Category</option> -->
        <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
      </select>
    </div>

    <div class="input-group filter">
      <span class="input-group-addon">
        <fa-icon [icon]="faFilter"></fa-icon> Color
      </span>
      <select id="color" name="color" [(ngModel)]="selectedColor" class="form-control" [ngStyle]="{'background-color' : selectedColor}">
        <!-- <option disabled>Color</option> -->
        <option *ngFor="let color of colorsMap | keyvalue" [ngValue]="color.key">{{color.value}}</option>
      </select>
    </div>
  </div>
</div>

<app-note *ngFor="let note of notes | filterNotes:selectedCategory:'category' | filterNotes:selectedColor:'color'" [thisNote]="note"></app-note>
